#page{
    display:flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.content-container{
    display: flex;
    flex-direction: row;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
.grid-dimensions{
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.rainbow{
    text-align: center;
    font-size: 19px;
    font-family: 'Roboto';
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
h1{
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 100px;
    margin: 0px;
    margin-left: 10px;
    text-shadow: 10px 10px 15px rgba(0, 140, 255, 0.781);
}
.container{
    display:flex;
    height: 700px;
    width: 700px;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px grey;
}
footer{
    display: flex;
    background-color: lightblue;
    height: 4.2em;
    width: 95.5em;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-family: 'Roboto';
    margin-top: 20px;
}
